<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

    <link
      href="http://getbootstrap.com/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css"
      rel="stylesheet"
    />
    <link href="../static/signup.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <!-- <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav> -->
        <image
          src="static/images/bg_header.jpeg"
          style="object-fit: cover"
        ></image>
      </div>

      <div class="jumbotron">
        <div></div>
        <div style="width: 50%">
          <object type="image/svg+xml" data="{{image_url}}">
            Your browser does not support SVG
          </object>
        </div>

        <div style="width: 50%">
          <object type="image/svg+xml" data="{{image_url2}}">
            Your browser does not support SVG
          </object>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; @en.8__tt</p>
      </footer>
    </div>
  </body>
</html>
